body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh
}

#grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

img{
  cursor: pointer;
}
